"""ETL DAG for 'Universidad de Moron y Rio Cuarto' (Grupo F)."""

import logging
import logging.config
from datetime import timedelta

from airflow.utils.dates import days_ago
from airflow.decorators import (dag, task)

from plugins.GF_modules.extract import std_extract
from plugins.GF_modules.transform import std_transform
from plugins.GF_modules.updateS3 import upload_to_s3

from pathlib import Path
def configure_logger():
            
    LOGGING_CONFIG = Path(__file__).parent.parent/"logger.cfg"
    logging.config.fileConfig(LOGGING_CONFIG, disable_existing_loggers=False)
    logger = logging.getLogger("{{ dag_id }}_dag_etl")
    return logger


path_sql = r'/usr/local/airflow/include/{{ dag_id }}.sql'
path_csv = r'/usr/local/airflow/files/{{ dag_id }}.csv'
path_txt = r'/usr/local/airflow/datasets/{{ dag_id }}.txt'
pc_path = r'/usr/local/airflow/assets/codigos_postales.csv'



@dag(
    schedule=timedelta(minutes=60),
    start_date=days_ago(1),
    catchup=False,
    default_args={
        "retries": 5,
        'retry_delay': timedelta(minutes=1)
    },
    tags=['DataProcessing'])
def {{ dag_id }}_dag_etl():
    
    @task()
    def extract():
        
        logger = configure_logger()
        logger.info('extract-init')
        
        
        return std_extract(path_sql,path_csv)
    @task()
    def transform(extract):
        logger = configure_logger()
        
        if extract:
            logger.info('preparing Transformation {{ dag_id }}')
            std_kwargs = {
                'dfPath':path_csv,
                'dateBornSchema': '{{ dateBornSchema }}',
                'inscriptionDateSchema': '{{ inscriptionDateSchema }}',
                'minAge': 17,
                'maxAge': 82,
                'pathPostalCode': pc_path,
                'target_file': path_txt,
                'yyBornDate':{{ yyBornDate or False }},

            }
            try:
                std_transform(**std_kwargs)
                logger.info('transformatrion completed {{ dag_id }}')
                logger.info('------------------------------------------------------')
            except:
                logger.critical('transformation failure {{ dag_id }}')
        return extract

    @task()
    def load(prev_task):
        logger = configure_logger()
        print(prev_task)
        
        upload_to_s3(path_txt,'{{ dag_id }}')
        
        
        
        
    load(transform(extract()))

{{ dag_id }}_dag_etl = {{ dag_id }}_dag_etl()

